@import "_config";
@import "_colors";

/*Header section*/
#header{
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;

    .js-cookie-consent{
        
        padding: 1rem;
        text-align: center;
        color: $primary-color;
        width: 100%;
        z-index: 9999;
        background-color: $quaternary-color;
        border-color: $primary-color;
        border: solid 1px;

        button{
            color: $primary-color;
            padding: 0.2rem;
        }
    }
    
        span{
            color: $secondary-color;
        }

        a{
            font-size: large;
        }

        a:hover{
            color: $secondary-color;
            @include easyOut;
        }
        .bg-light{
            background-color: $quinary-color;
        }
}

/*End Header section*/